/*stylisation carrousel*/
#prez {
    text-align: center;
    color: #4A00E0;
    font-family: Montserrat;
    margin-top: 16px;
    position: absolute;
    top: 0;
    background-color: white;
}

.container-fluid{
    padding: 0;
}

.carousel {
    display: flex;
}

.carousel-inner{
    height: 100vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 48px;
    height: 48px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc4a1a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc4a1a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}