form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.content-login{
    background-color: white;
    height: 500px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: #4A00E0;
    border-radius: 30px;
}

.content-login h1{
    margin-bottom: 52px;
    font-size: 52px;
}

.row-login{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.row-login label{
    margin-bottom: 32px;
}

.inline-connexion .checkbox{
    display: inline-block;
}

.inline-connexion a,
.inline-connexion button{
    margin-right: 18px;
}

.form-control:focus {
    border: 2px solid rgba(74, 0, 224, .8);
    box-shadow: none;
}

.btn-violet{
    background-color: #e36414;
    color: white;
}

.btn-violet:hover{
    color: white;
}