#utilisateurs {
    text-align: center;
    color: #4A00E0;
    font-family: Montserrat;
    margin: 32px;
}

/*La li*/
/*.liste  {*/
/*    background-color: #e36414;*/
/*    margin: 4px;*/
/*    border-radius: 24px; !important;*/
/*    border-color: #4A00E0;*/
/*}*/

/*le a */
/*.liste {*/
/*    text-decoration: none;*/
/*    color: #000000; !important;*/
/*}*/
/*#page-content-wrapper {*/
/*    background-color: #f1f2f3;*/
/*}*/
/*.container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    !*flex-direction: row;*!*/
/*}*/

/*.container > * {*/
/*    flex: 1 0 30%;*/
/*}*/

.cardUtilisateur {
    background-color: #4A00E0;
    padding: 48px 72px 48px 72px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.userPseudo {
    color: #f1f2f3;
    font-size: 1.5em;
}
.photo img{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    background-color: #f1f2f3;
    object-fit: cover;
    margin: 0 auto 64px auto;
}

#nono {
    text-decoration: none;
    color: #e36414;
    font-family:Montserrat;
    font-size: 1em;
}

#nono:hover {
    color: white;
}