{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Les campus {% endblock %}

{% block campusVilleCss %}
    <link rel="stylesheet" href="{{ asset('CSS/campusVille.css') }}">
{% endblock %}

{% block main %}

<h1 class="text-center mt-5">Gérer les campus</h1>

    <div class="row">

        <div class=" content-recherche">
            <h2 class="">Filtrer les sites</h2>

            <form method="get" action="campus.html.twig">
                <div class="form-group row content">
                    <label class="col-4 my-auto">Le nom contient :</label>
                    <div class="col-4 my-auto"><input class="form-control" type="text" placeholder="Campus"></div>
                    <div class="col-4"><button type="submit" class="btn btn-orange mb-2 my-auto">Rechercher</button></div>
                </div>
            </form>
        </div>

        </div>

    <div>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th scope="col">Campus</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                    {% for campu in campus %}
                <tr>
                    <td>{{ campu.getNomCampus() }}</td>
                    <td><a href="">Modifier</a> - <a href="">Supprimer</a></td>
                </tr>
                    {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <form method="get" action="">
                        <td><input name="campus" class="form-control" type="text" placeholder="Nouveau campus"></td>
                        <td><button type="submit" class="btn btn-orange mb-2">Ajouter</button></td>
                    </form>
                </tr>
            </tfoot>

        </table>
    </div>


{% endblock %}
